/* SHARED START */

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.middle-of-screen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-80%, 30%);
}

/* SHARED END */

/* MESSENGER.PHP START */

.chat-box {
    background-color: #343434;
    height: 500px;
    width: 40%;
    display: flex;
    position: relative;
}

.chat-box form input[type="text"] {
    width: 80%;
    height: 100%;
    margin: 1px 10px 3px 1px;
    padding-left: 10px;
    border: 0;
    background-color: whitesmoke;
    color: black;
}

.chat-box form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    margin: 1px;
    border: none;
    cursor: pointer;
    width: 20%;
    height: 100%;
}

.chat-box form input[type="submit"]:hover {
    opacity: 0.9;
}

.chat-box form {
    margin: 10px 10px 10px 10px;
    width: 97.5%;
    height: 8%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
}

#chatter {
    background-color: whitesmoke;
    margin: 10px 0px 10px 10px;
    height: 85%;
    width: 75%;
    overflow-x:auto;
    overflow-y:auto;
}

#chatter ul, li {
    margin: 2px;
    padding: 0;
}

#chatter ul li {
    list-style-position: none;
}

#users {
    background-color: whitesmoke;
    margin: 10px;
    height: 85%;
    width: 30%;

    overflow-x:hidden;
    overflow-y:auto;
}

#users ul, li {
    margin: 3px;
    padding: 0;
}

#users ul li {
    list-style-position: none;
}


/* MESSENGER.PHP END */

/* LOGIN.PHP START */

#login-box {
    font-family: "Roboto", sans-serif;
    background-color: #343434;
    height: 500px;
    width: 30%;
    position: relative;

    /* Java Script Call */
    transition: height 0.3s;
    -webkit-transition: height 0.3s;
}

#login-box form {
    margin: 0 auto;
    padding: 45px;
    text-align: center;
}

#login-box form h1 {
    color: whitesmoke;
    font-size: 1.9rem;
    margin: 10px 0;
}

#login-box form label {
    color: whitesmoke;
    font-size: 1.3rem;
    float: left;
    margin: 15px 0;
}

#login-box form input[type="text"],
                input[type="password"] {
    background: #f2f2f2;
    width: 100%;
    height: 50px;
    outline: 0;
    border: 0;
    padding: 15px;
    box-sizing: border-box;
    font-size: 1rem;
}

#login-box form input[type="text"]::after {
    position: absolute;
}

#login-box form input[type="submit"] {
    background-color: #4CAF50;
    color: whitesmoke;
    width: 100%;
    font-size: 1.1rem;
    padding: 15px;
    margin: 20px 0px 0px 0px;
    outline: 0;
    border: 0;
}

#login-box form input[type="submit"]:hover {
    opacity: 0.9;
}

#login-box form p {
    color: whitesmoke;
}

#login-box a {
    color: #4CAF50;
    text-decoration: none;
}

.requirement {
    position: relative;
    margin: 5px;
    color: red;
}

#register-form {
    display: none;
}
/* LOGIN.PHP END */